https://zhuanlan.zhihu.com/p/545833765

In [36]:
import prettytable

# 创建table

类似于数据库中的表，由表头（或者说字段名），以及每一行的内容组成

In [91]:
# 传入的 name、age、country 相当于表头
tb = prettytable.PrettyTable(field_names=["name", "age", "country"])

In [92]:
print(tb)

+------+-----+---------+
| name | age | country |
+------+-----+---------+
+------+-----+---------+

In [93]:
# 调用 add_row add_rows 添加行记录
tb.add_row(row=["Jack Morrison", 49, "America"])
tb.add_row(row=["Shimada Genji", 35, "Japan"])
tb.add_rows(rows=[["Shimada Hanzo", 38, "Japan"],
                  ["Angela Ziegler", 37, "Switzerland"]])

In [94]:
print(tb)

+----------------+-----+-------------+
|      name      | age |   country   |
+----------------+-----+-------------+
| Jack Morrison  |  49 |   America   |
| Shimada Genji  |  35 |    Japan    |
| Shimada Hanzo  |  38 |    Japan    |
| Angela Ziegler |  37 | Switzerland |
+----------------+-----+-------------+

In [95]:
# 不支持用字典输入
tb1 = prettytable.PrettyTable(
    {"name": ["Jack Morrison", "Shimada Genji", "Shimada Hanzo", "Angela Ziegler"],
    "age": [49, 35, 38 , 34],
    "country": ["America", "Japan", "Japan", "Switzerland"]}
)
print(tb1)

+------+-----+---------+
| name | age | country |
+------+-----+---------+
+------+-----+---------+

# 在编写的过程中，我们需要临时添加一列，prettytable 也是支持的

In [96]:
# 调用 add_column 添加一列
tb.add_column(
    fieldname="gender",
    column=["male", "male", "male", "female"]
)

In [97]:
print(tb)

+----------------+-----+-------------+--------+
|      name      | age |   country   | gender |
+----------------+-----+-------------+--------+
| Jack Morrison  |  49 |   America   |  male  |
| Shimada Genji  |  35 |    Japan    |  male  |
| Shimada Hanzo  |  38 |    Japan    |  male  |
| Angela Ziegler |  37 | Switzerland | female |
+----------------+-----+-------------+--------+

# 输出 table 的指定行、指定列

In [98]:
print(tb.get_string(fields=["name", "age"], # 获取2列
                    start=0, end=3))        # id从0~2

+---------------+-----+
|      name     | age |
+---------------+-----+
| Jack Morrison |  49 |
| Shimada Genji |  35 |
| Shimada Hanzo |  38 |
+---------------+-----+

# 输出时排序

In [53]:
print(tb.get_string(sortby="age"))

+----------------+-----+-------------+--------+
|      name      | age |   country   | gender |
+----------------+-----+-------------+--------+
| Shimada Genji  |  35 |    Japan    |  male  |
| Angela Ziegler |  37 | Switzerland | female |
| Shimada Hanzo  |  38 |    Japan    |  male  |
| Jack Morrison  |  49 |   America   |  male  |
+----------------+-----+-------------+--------+

In [54]:
print(tb.get_string(sortby="age", reversesort=True))

+----------------+-----+-------------+--------+
|      name      | age |   country   | gender |
+----------------+-----+-------------+--------+
| Jack Morrison  |  49 |   America   |  male  |
| Shimada Hanzo  |  38 |    Japan    |  male  |
| Angela Ziegler |  37 | Switzerland | female |
| Shimada Genji  |  35 |    Japan    |  male  |
+----------------+-----+-------------+--------+

# 设置表格样式

- DEFAULT
- MSWORD_FRIENDLY
- PLAIN_COLUMNS
- MARKDOWN
- ORGMODE
- DOUBLE_BORDER
- SINGLE_BORDER
- RANDOM

In [66]:
tb.set_style(prettytable.DEFAULT)
print(tb)

|----------------+-----+-------------+--------|
|      name      | age |   country   | gender |
|----------------+-----+-------------+--------|
| Jack Morrison  |  49 |   America   |  male  |
| Shimada Genji  |  35 |    Japan    |  male  |
| Shimada Hanzo  |  38 |    Japan    |  male  |
| Angela Ziegler |  37 | Switzerland | female |
|----------------+-----+-------------+--------|

In [58]:
tb.set_style(prettytable.MSWORD_FRIENDLY)
print(tb)

|      name      | age |   country   | gender |
| Jack Morrison  |  49 |   America   |  male  |
| Shimada Genji  |  35 |    Japan    |  male  |
| Shimada Hanzo  |  38 |    Japan    |  male  |
| Angela Ziegler |  37 | Switzerland | female |

In [59]:
tb.set_style(prettytable.PLAIN_COLUMNS)
print(tb)

     name             age          country          gender
Jack Morrison          49          America           male
Shimada Genji          35           Japan            male
Shimada Hanzo          38           Japan            male
Angela Ziegler         37        Switzerland        female

In [62]:
tb.set_style(prettytable.MARKDOWN)
print(tb)

|      name        age     country     gender |
|:;;;;;;;;;;;;;;:;:;;;:;:;;;;;;;;;;;:;:;;;;;;:|
| Jack Morrison     49     America      male  |
| Shimada Genji     35      Japan       male  |
| Shimada Hanzo     38      Japan       male  |
| Angela Ziegler    37   Switzerland   female |

In [63]:
tb.set_style(prettytable.ORGMODE)
print(tb)

|----------------+-----+-------------+--------|
|      name      | age |   country   | gender |
|----------------+-----+-------------+--------|
| Jack Morrison  |  49 |   America   |  male  |
| Shimada Genji  |  35 |    Japan    |  male  |
| Shimada Hanzo  |  38 |    Japan    |  male  |
| Angela Ziegler |  37 | Switzerland | female |
|----------------+-----+-------------+--------|

In [64]:
tb.set_style(prettytable.DOUBLE_BORDER)
print(tb)

|════════════════╦═════╦═════════════╦════════|
|      name      ║ age ║   country   ║ gender |
|════════════════╬═════╬═════════════╬════════|
| Jack Morrison  ║  49 ║   America   ║  male  |
| Shimada Genji  ║  35 ║    Japan    ║  male  |
| Shimada Hanzo  ║  38 ║    Japan    ║  male  |
| Angela Ziegler ║  37 ║ Switzerland ║ female |
|════════════════╩═════╩═════════════╩════════|

In [65]:
tb.set_style(prettytable.SINGLE_BORDER)
print(tb)

|────────────────┬─────┬─────────────┬────────|
|      name      │ age │   country   │ gender |
|────────────────┼─────┼─────────────┼────────|
| Jack Morrison  │  49 │   America   │  male  |
| Shimada Genji  │  35 │    Japan    │  male  |
| Shimada Hanzo  │  38 │    Japan    │  male  |
| Angela Ziegler │  37 │ Switzerland │ female |
|────────────────┴─────┴─────────────┴────────|

In [69]:
tb.set_style(prettytable.RANDOM)
print(tb)

|         name                age             country             gender     |
|~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
|    Jack Morrison             49             America              male      |
|    Shimada Genji             35              Japan               male      |
|    Shimada Hanzo             38              Japan               male      |
|    Angela Ziegler            37           Switzerland           female     |

# 设置边框样式
在 PrettyTable 中，边框由三个部分组成：横边框，竖边框，和边框连接符，我们都可以修改

In [82]:
tb.set_style(prettytable.DEFAULT)

In [83]:
# 是否显示边框，默认为True
tb.border = True
# 横边框
tb.horizontal_char = '^'
# 竖边框
tb.vertical_char = '&'
# 边框连接符
tb.junction_char='~'
print(tb)

|^^^^^^^^^^^^^^^^~^^^^^~^^^^^^^^^^^^^~^^^^^^^^|
| name           & age &     country & gender |
|^^^^^^^^^^^^^^^^~^^^^^~^^^^^^^^^^^^^~^^^^^^^^|
| Jack Morrison  &  49 &     America &  male  |
| Shimada Genji  &  35 &       Japan &  male  |
| Shimada Hanzo  &  38 &       Japan &  male  |
| Angela Ziegler &  37 & Switzerland & female |
|^^^^^^^^^^^^^^^^~^^^^^~^^^^^^^^^^^^^~^^^^^^^^|

# 设置对齐方式

In [84]:
tb.set_style(prettytable.DEFAULT)

In [85]:
# l 代表左对齐，c 代表居中，r 代表右对齐
# 默认居中
tb.align["name"] = "l"
tb.align["age"] = "c"
tb.align["country"] = "r"
tb.align["gender"] = "c"
print(tb)

|----------------+-----+-------------+--------|
| name           | age |     country | gender |
|----------------+-----+-------------+--------|
| Jack Morrison  |  49 |     America |  male  |
| Shimada Genji  |  35 |       Japan |  male  |
| Shimada Hanzo  |  38 |       Japan |  male  |
| Angela Ziegler |  37 | Switzerland | female |
|----------------+-----+-------------+--------|

# 获取不行格式的字符串

In [ ]:
tb.get_csv_string()

'name,age,country,gender\r\nJack Morrison,49,America,male\r\nShimada Genji,35,Japan,male\r\nShimada Hanzo,38,Japan,male\r\nAngela Ziegler,37,Switzerland,female\r\n'

In [ ]:
tb.get_json_string()

'[\n    [\n        "name",\n        "age",\n        "country",\n        "gender"\n    ],\n    {\n        "age": 49,\n        "country": "America",\n        "gender": "male",\n        "name": "Jack Morrison"\n    },\n    {\n        "age": 35,\n        "country": "Japan",\n        "gender": "male",\n        "name": "Shimada Genji"\n    },\n    {\n        "age": 38,\n        "country": "Japan",\n        "gender": "male",\n        "name": "Shimada Hanzo"\n    },\n    {\n        "age": 37,\n        "country": "Switzerland",\n        "gender": "female",\n        "name": "Angela Ziegler"\n    }\n]'

In [101]:
tb.get_html_string()

'<table>\n    <thead>\n        <tr>\n            <th>name</th>\n            <th>age</th>\n            <th>country</th>\n            <th>gender</th>\n        </tr>\n    </thead>\n    <tbody>\n        <tr>\n            <td>Jack Morrison</td>\n            <td>49</td>\n            <td>America</td>\n            <td>male</td>\n        </tr>\n        <tr>\n            <td>Shimada Genji</td>\n            <td>35</td>\n            <td>Japan</td>\n            <td>male</td>\n        </tr>\n        <tr>\n            <td>Shimada Hanzo</td>\n            <td>38</td>\n            <td>Japan</td>\n            <td>male</td>\n        </tr>\n        <tr>\n            <td>Angela Ziegler</td>\n            <td>37</td>\n            <td>Switzerland</td>\n            <td>female</td>\n        </tr>\n    </tbody>\n</table>'

In [102]:
tb.get_latex_string()

'\\begin{tabular}{cccc}\r\nname & age & country & gender \\\\\r\nJack Morrison & 49 & America & male \\\\\r\nShimada Genji & 35 & Japan & male \\\\\r\nShimada Hanzo & 38 & Japan & male \\\\\r\nAngela Ziegler & 37 & Switzerland & female \\\\\r\n\\end{tabular}'