# datetime 模块

datetime是重新封装的time模块

datetime模块提供了五个常用类：date、time、datetime、timedelta、tzinfo

https://zhuanlan.zhihu.com/p/208291869

python中时间日期格式化符号：

- `%y` 两位数的年份表示（00-99）
- `%Y` 四位数的年份表示（000-9999）
- `%m` 月份（01-12）
- `%d` 月内中的一天（0-31）
- `%H` 24小时制小时数（0-23）
- `%I` 12小时制小时数（01-12）
- `%M` 分钟数（00-59）
- `%S` 秒（00-59）
- `%a` 本地简化星期名称
- `%A` 本地完整星期名称
- `%b` 本地简化的月份名称
- `%B` 本地完整的月份名称
- `%c` 本地相应的日期表示和时间表示
- `%j` 年内的一天（001-366）
- `%p` 本地A.M.或P.M.的等价符
- `%U` 一年中的星期数（00-53）星期天为星期的开始
- `%w` 星期（0-6），星期天为星期的开始
- `%W` 一年中的星期数（00-53）星期一为星期的开始
- `%x` 本地相应的日期表示
- `%X` 本地相应的时间表示
- `%Z` 当前时区的名称
- `%%` %号本身

In [129]:
import time
import datetime

In [130]:
[i for i in dir(datetime) if not i.startswith("__")]

['MAXYEAR',
 'MINYEAR',
 'UTC',
 'date',
 'datetime',
 'datetime_CAPI',
 'sys',
 'time',
 'timedelta',
 'timezone',
 'tzinfo']

# time

time类包含六个参数，分别为hour，minute，second，microsecond，tzinfo，fold，返回格式为hour:minute:second(.microsecond)。

In [131]:
t = datetime.time(hour=11, minute=18, second=31, microsecond=10)
t

datetime.time(11, 18, 31, 10)

In [132]:
t.hour, t.minute, t.second, t.microsecond

(11, 18, 31, 10)

In [133]:
t.fold, t.tzinfo

(0, None)

In [134]:
t.tzname()

In [135]:
t.isoformat()

'11:18:31.000010'

In [136]:
t.strftime("%H/%M/%S")

'11/18/31'

In [137]:
t.replace(hour=10, minute=5, second=5, microsecond=50)

datetime.time(10, 5, 5, 50)

# date

date类包含三个参数，分别为year，month，day，返回格式为year-month-day。

date对象表示理想化日历中的日期(年、月和日), 公历1年1月1日被称为第一天，依次往后推。

In [138]:
datetime.date.today()

datetime.date(2023, 10, 20)

In [139]:
# 使用时间戳创建的日期
datetime.date.fromtimestamp(time.time())

datetime.date(2023, 10, 20)

In [140]:
datetime.date.fromisocalendar(year=2012, week=3, day=1)

datetime.date(2012, 1, 16)

In [141]:
datetime.date.fromisoformat("2012-03-02")

datetime.date(2012, 3, 2)

In [142]:
# 使用公历序数创建的日期
datetime.date.fromordinal(10)

datetime.date(1, 1, 10)

In [143]:
today = datetime.date.today()
today

datetime.date(2023, 10, 20)

In [144]:
today.year, today.month, today.day

(2023, 10, 20)

In [145]:
today.ctime()

'Fri Oct 20 00:00:00 2023'

In [146]:
today.isocalendar()

datetime.IsoCalendarDate(year=2023, week=42, weekday=5)

In [147]:
today.timetuple()

time.struct_time(tm_year=2023, tm_mon=10, tm_mday=20, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=4, tm_yday=293, tm_isdst=-1)

In [148]:
today.strftime("%Y/%m/%d")

'2023/10/20'

In [149]:
today.weekday()

4

In [150]:
today.isoweekday()

5

In [151]:
today.isoformat()

'2023-10-20'

In [152]:
today.toordinal()

738813

In [153]:
# 替换日期
today.replace(year=2019, month=9, day=29)

datetime.date(2019, 9, 29)

# datetime = date + time

datetime类可以看作date和time类的合体，其包含了这两个类中的全部参数

In [154]:
datetime.datetime.today()

datetime.datetime(2023, 10, 20, 10, 34, 35, 43300)

In [155]:
datetime.datetime.now()

datetime.datetime(2023, 10, 20, 10, 34, 35, 49673)

In [156]:
# UTC
datetime.datetime.utcnow()

datetime.datetime(2023, 10, 20, 2, 34, 35, 54807)

In [157]:
datetime.datetime.fromtimestamp(1234567896)

datetime.datetime(2009, 2, 14, 7, 31, 36)

In [158]:
datetime.datetime.fromtimestamp(1234567896)

datetime.datetime(2009, 2, 14, 7, 31, 36)

In [159]:
datetime.datetime.fromisocalendar(year=2012, week=3, day=1)

datetime.datetime(2012, 1, 16, 0, 0)

In [160]:
datetime.datetime.fromisoformat("2011-06-02 07:45:00")

datetime.datetime(2011, 6, 2, 7, 45)

In [161]:
# 公历序列对应的日期和时间
datetime.datetime.fromordinal(1)

datetime.datetime(1, 1, 1, 0, 0)

In [162]:
datetime.datetime.combine(datetime.date(2012, 3, 12), datetime.time(1, 12, 3, 11))

datetime.datetime(2012, 3, 12, 1, 12, 3, 11)

In [163]:
now = datetime.datetime.now()
now

datetime.datetime(2023, 10, 20, 10, 34, 35, 96954)

In [164]:
now.year, now.month, now.day, now.hour, now.minute, now.second, now.microsecond,

(2023, 10, 20, 10, 34, 35, 96954)

In [165]:
now.date()

datetime.date(2023, 10, 20)

In [166]:
now.time()

datetime.time(10, 34, 35, 96954)

In [167]:
now.ctime()

'Fri Oct 20 10:34:35 2023'

In [168]:
now.isocalendar()

datetime.IsoCalendarDate(year=2023, week=42, weekday=5)

In [169]:
# 转化为time对象
now.timetuple()

time.struct_time(tm_year=2023, tm_mon=10, tm_mday=20, tm_hour=10, tm_min=34, tm_sec=35, tm_wday=4, tm_yday=293, tm_isdst=-1)

In [170]:
now.strftime("%Y/%m/%d %H:%M:%S")

'2023/10/20 10:34:35'

In [171]:
now.weekday()

4

In [172]:
now.isoweekday()

5

In [173]:
now.isoformat()

'2023-10-20T10:34:35.096954'

In [174]:
now.toordinal()

738813

In [175]:
# 替换日期
now.replace(year=2019, month=9, day=29)

datetime.datetime(2019, 9, 29, 10, 34, 35, 96954)

# timedelta

timedelta类代表两个datetime对象之间的时间差，即两个日期或者日期时间之差。支持参数:weeks、days、hours、minutes、seconds、milliseconds、microseconds。但是据官方文档说其内部只存储days、seconds 和 microseconds,其他单位会做对应的时间转换。

In [176]:
today = datetime.date.today()
today

datetime.date(2023, 10, 20)

In [177]:
today + datetime.timedelta(days=5)

datetime.date(2023, 10, 25)

In [178]:
today - datetime.timedelta(weeks=1)

datetime.date(2023, 10, 13)

In [179]:
now = datetime.datetime.now()
now

datetime.datetime(2023, 10, 20, 10, 34, 35, 189873)

In [180]:
now + datetime.timedelta(days=1)

datetime.datetime(2023, 10, 21, 10, 34, 35, 189873)

In [181]:
now - datetime.timedelta(hours=1)

datetime.datetime(2023, 10, 20, 9, 34, 35, 189873)

# tzinfo

tzinfo类是一个虚拟基类，代表时区（time zone），创建子类时必须重写name()，utcoffset()，dst()这三个方法，tzinfo类在日常工作中用的比极少。