In [1]:
from tabulate import tabulate

# 使用list生成表格

In [3]:
table = [
    ['First Name', 'Last Name', 'Age'],
    ['John',       'Smith',      39],
    ['Mary',       'Jane',       25],
    ['Jennifer',   'Doe',        28]
]

# Basic

In [4]:
print(tabulate(table))

----------  ---------  ---
First Name  Last Name  Age
John        Smith      39
Mary        Jane       25
Jennifer    Doe        28
----------  ---------  ---

# 由于上述list中的第一个列表包含每列的名称，我们可以使用以下参数将列名单独显示出来，代码如下

In [5]:
print(tabulate(table, headers='firstrow'))

First Name    Last Name      Age
------------  -----------  -----
John          Smith           39
Mary          Jane            25
Jennifer      Doe             28

# tablefmt 参数，它允许我们进一步改进表格的外观

In [6]:
print(tabulate(table, headers='firstrow', tablefmt='grid'))

+--------------+-------------+-------+
| First Name   | Last Name   |   Age |
+==============+=============+=======+
| John         | Smith       |    39 |
+--------------+-------------+-------+
| Mary         | Jane        |    25 |
+--------------+-------------+-------+
| Jennifer     | Doe         |    28 |
+--------------+-------------+-------+

In [7]:
print(tabulate(table, headers='firstrow', tablefmt='fancy_grid'))

╒══════════════╤═════════════╤═══════╕
│ First Name   │ Last Name   │   Age │
╞══════════════╪═════════════╪═══════╡
│ John         │ Smith       │    39 │
├──────────────┼─────────────┼───────┤
│ Mary         │ Jane        │    25 │
├──────────────┼─────────────┼───────┤
│ Jennifer     │ Doe         │    28 │
╘══════════════╧═════════════╧═══════╛

# showindex 参数来向表格中添加索引列

In [8]:
print(tabulate(table, headers='firstrow', tablefmt='fancy_grid', showindex=True))

╒════╤══════════════╤═════════════╤═══════╕
│    │ First Name   │ Last Name   │   Age │
╞════╪══════════════╪═════════════╪═══════╡
│  0 │ John         │ Smith       │    39 │
├────┼──────────────┼─────────────┼───────┤
│  1 │ Mary         │ Jane        │    25 │
├────┼──────────────┼─────────────┼───────┤
│  2 │ Jennifer     │ Doe         │    28 │
╘════╧══════════════╧═════════════╧═══════╛

In [9]:
print(tabulate(table, headers='firstrow', tablefmt='fancy_grid', showindex=range(1, 4)))

╒════╤══════════════╤═════════════╤═══════╕
│    │ First Name   │ Last Name   │   Age │
╞════╪══════════════╪═════════════╪═══════╡
│  1 │ John         │ Smith       │    39 │
├────┼──────────────┼─────────────┼───────┤
│  2 │ Mary         │ Jane        │    25 │
├────┼──────────────┼─────────────┼───────┤
│  3 │ Jennifer     │ Doe         │    28 │
╘════╧══════════════╧═════════════╧═══════╛

# 使用dict生成表格

In [11]:
info = {
    'First Name':   ['John', 'Mary', 'Jennifer'],
    'Last Name':    ['Smith', 'Jane', 'Doe'],
    'Age':          [39, 25, 28]
    }

In [17]:
print(tabulate(info))

--------  -----  --
John      Smith  39
Mary      Jane   25
Jennifer  Doe    28
--------  -----  --

In [12]:
# 使用key作为headers
print(tabulate(info, headers='keys'))

First Name    Last Name      Age
------------  -----------  -----
John          Smith           39
Mary          Jane            25
Jennifer      Doe             28

In [14]:
print(tabulate(info, headers='keys', tablefmt='fancy_grid', showindex=range(1, 4)))

╒════╤══════════════╤═════════════╤═══════╕
│    │ First Name   │ Last Name   │   Age │
╞════╪══════════════╪═════════════╪═══════╡
│  1 │ John         │ Smith       │    39 │
├────┼──────────────┼─────────────┼───────┤
│  2 │ Mary         │ Jane        │    25 │
├────┼──────────────┼─────────────┼───────┤
│  3 │ Jennifer     │ Doe         │    28 │
╘════╧══════════════╧═════════════╧═══════╛

# 缺失值处理

In [15]:
print(tabulate(
    {'First Name': ['John', 'Mary'],
    'Last Name': ['Smith', 'Jane', 'Doe'],
    'Age': [39, 25, 28]},
    headers="keys",
    tablefmt='fancy_grid'))

╒══════════════╤═════════════╤═══════╕
│ First Name   │ Last Name   │   Age │
╞══════════════╪═════════════╪═══════╡
│ John         │ Smith       │    39 │
├──────────────┼─────────────┼───────┤
│ Mary         │ Jane        │    25 │
├──────────────┼─────────────┼───────┤
│              │ Doe         │    28 │
╘══════════════╧═════════════╧═══════╛

## missingval 设置默认值来显示

In [18]:
print(tabulate(
    {'First Name': ['John', 'Mary'],
    'Last Name': ['Smith', 'Jane', 'Doe'],
    'Age': [39, 25, 28]},
    headers="keys",
    tablefmt='fancy_grid',
    missingval="N/A"))

╒══════════════╤═════════════╤═══════╕
│ First Name   │ Last Name   │   Age │
╞══════════════╪═════════════╪═══════╡
│ John         │ Smith       │    39 │
├──────────────┼─────────────┼───────┤
│ Mary         │ Jane        │    25 │
├──────────────┼─────────────┼───────┤
│ N/A          │ Doe         │    28 │
╘══════════════╧═════════════╧═══════╛